* {
    background-color: rgb(66, 61, 61);
}

h1 {
    color: yellow;
}

.fa-times {
    color: green;
}

.col.s3.field {
    width: 100%;
}

.token {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    font-size: 1.4cm;
}

.fa-bullseye {
    color: red;
}
.hover {
    background-color: gray;
}

.nav-wrapper {
    text-align: center;
}

.container {
    margin-top: 8rem;
}

.field {
    border: 1px solid white;
    height: 6rem;
    width: 6rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: 35%;
    height: 35%;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}
.btn {
    margin-top: 80px;
}